<style>
    .reveal section.side-by-side div {
        position: absolute;
        width: 49%;
    }

    .reveal section.side-by-side div:first-of-type {
        left: 3%
    }

    .reveal section.side-by-side div:nth-of-type(2) {
        right: 3%;
    }

    .reveal section.align-left p {
        text-align: left;
    }

    .reveal section.align-left-2 p:first-of-type {
        text-align: left;
    }

    .reveal section.align-left-2 p:nth-of-type(2) {
        text-align: left;
    }

    .reveal section.left-align-3-4-5 p:nth-of-type(3) {
        text-align: left;
    }

    .reveal section.left-align-3-4-5 p:nth-of-type(4) {
        text-align: left;
    }

    .reveal section.left-align-3-4-5 p:nth-of-type(5) {
        text-align: left;
    }
</style>